<div class="pokedex-container">

    <h1 class="header-main">Pokédex</h1>

    <div class="card-container">

        <div class="card">
            <div>
                <div class="card-header-cyan">
                    <span>#1</span>
                    <span>Bulbasaur</span>
                </div>
            </div>

            <div class="card-sprite-wrapper">
                <img style="height:112px;width:112px;" src="../assets/images/1200px-DP142.png">
            </div>

            <div>
                <div>Type:</div>
                <div class="types-wrapper">
                    <span class="type-container grass" id="type1">Grass</span>
                    <span class="type-container poison" id="type2">Poison</span>
                </div>
            </div>
        </div>

    </div>

</div>
