<div class="pokedex-container">

    <h1 class="header-main">Pokédex</h1>

    <div class="card-container">

        <div class="card">
            <div class="card-header-cyan">
                <span>#1</span>
                <span>Bulbasaur</span>
            </div>

            <img src="../assets/images/1200px-DP142.png" class="card-sprite">

            <div>
                <div>Type:</div>
                <div class="types-wrapper">
                    <span class="type-container" id="type1"></span>
                    <span class="type-container" id="type2"></span>
                </div>
            </div>
        </div>

    </div>

</div>
