<div class="pokedex-container">

    <h1 class="header-main">Pokédex</h1>

    <div class="card-container">
        <!-- Cards appended here -->

        <div class="card grass">

            <div class="card-inner">
                <div>
                    <div class="card-header-cyan">
                        <span>#1</span>
                        <span>Bulbasaur</span>
                    </div>
                </div>
    
                <div class="card-sprite-wrapper">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
                </div>

                <div style="border-top: solid 1px white;"> <!-- New -->
                    <div>Type:</div>
                    <div class="types-wrapper">
                        <span class="type-container grass">Grass</span>
                        <span class="type-container poison">Poison</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="card grass">

            <div class="card-inner">
                <div>
                    <div class="card-header-cyan">
                        <span>#1</span>
                        <span>Bulbasaur</span>
                    </div>
                </div>
    
                <div class="card-sprite-wrapper">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
                </div>
    
                <div style="border-top: solid 1px white;"></div> <!-- New --> 

                <div>
                    <div>Type:</div>
                    <div class="types-wrapper">
                        <span class="type-container grass">Grass</span>
                        <span class="type-container poison">Poison</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Button avoids immediately triggering scroll event -->
</div>
