<!--
<h1 class="nowrap">Pokémon Application</h1>
<app-pokemon-search></app-pokemon-search>
<app-create-team></app-create-team>
-->

<div id="grid-container" class="dark:tw-bg-zinc-900">
    
    
    
    <div id="nav-bar" class="tw-bg-zinc-800">
        <img src="../assets/images/1200px-DP142.png" id="logo">
        <p id="nav-close-btn" class="hover:tw-text-zinc-300 hover:tw-bg-zinc-600 tw-rounded-xl hover:tw-outline hover:tw-outline-2 hover:tw-outline-zinc-300" (click)="closeNavbar()">
            <svg id="nav-close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>
        </p>
          
        <div class="nav-links">
            <a class="hover:tw-text-cyan-300 hover:tw-bg-zinc-600" routerLink="../about">About</a>
            <a class="hover:tw-text-cyan-300 hover:tw-bg-zinc-600" routerLink="../pokedex">Pokedex</a>
            <a class="hover:tw-text-cyan-300 hover:tw-bg-zinc-600" routerLink="../search">Search</a>
            <a class="hover:tw-text-cyan-300 hover:tw-bg-zinc-600" routerLink="../team">Create a Team</a>
        </div>
    </div>

    <div id="nav-collapse-col" class="tw-bg-zinc-800">
        <p id="nav-open-btn" class="hover:tw-text-zinc-300 hover:tw-bg-zinc-600 tw-rounded-xl hover:tw-outline hover:tw-outline-2 hover:tw-outline-zinc-300" (click)="openNavbar()">
            <svg id="nav-open-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
            </svg>   
        </p>
    </div>

    <router-outlet style="border: solid;"></router-outlet>

</div>