<h1 style="text-align: center;">Team Builder</h1>
<div class="teams-container">

    <div class="party-list">
        <!--party-group holds 2 divs which wrap when width shrinks, keeps the order 1-6 -->
        <div class="party-group">
            <div class="slot-1">
                <div class="slot-1-box" (click)="onClick(1)">+</div>
    
                <div class="slot-1-input">
                    <div class="search-input-wrapper">
                        <span>
                            <input class="search-input" type="text" [formControl]="pokeName1" placeholder="Pikachu" (keyup.enter)="onSubmit(1, pokeName1)">
                        </span>
                
                        <span class="search-btn-div">
                            <button class="search-submit-btn" (click)="onSubmit(1, pokeName1)">
                                Add          
                            </button>
                        </span>
                        <div class="invalid-pokemon"></div>
                    </div>    
                </div>

                <div class="slot-1-info">

                    <div id="slot-1-sprite">
                        <img id="front-Sprite" src="">
                    </div>

                    <div id="poke-Name"></div>
                    <div>
                        <span id="poke-Type">Type: </span>
                        <span class="type-container" id="type1"></span>
                        <span class="type-container" id="type2"></span>
                    </div>

                    <div>
                        <span id="poke-Abilities"></span>
                        <span><select name="ability" class="slot-1-abilities"></select></span>
                    </div>
                    
                    <div id="slot-1-stats">
                        <div class="stat-hp">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-atk">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-def">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spatk">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spdef">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spd">
                            <span></span>
                            <div></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="slot-2">
                <div class="slot-2-box" (click)="onClick(2)">+</div>
                <div class="slot-2-input">
                    <input type="text" [formControl]="pokeName2" (keyup.enter)="onSubmit(2, pokeName2)">
                </div>
                <div class="invalid-pokemon"></div>
                <div class="slot-2-info"></div>
            </div>

        </div>

        <div class="party-group">
            <div class="slot-3">
                <div class="slot-3-box">+</div>
                <div class="slot-3-info"></div>
            </div>

            <div class="slot-4">
                <div class="slot-4-box">+</div>
                <div class="slot-4-info"></div>
            </div>
        </div>

        <div class="party-group">
            <div class="slot-5">
                <div class="slot-5-box">+</div>
                <div class="slot-5-info"></div>
            </div>

            <div class="slot-6">
                <div class="slot-6-box">+</div>
                <div class="slot-6-info"></div>
            </div>
        </div>


    </div>

</div>
