<div class="teams-container">
    <h1 class="header-main">Team Builder</h1>
    <div class="party-list">
        
        <div class="party-group">
            <div id="slot-1">
                <div class="slot-1-box" (click)="onClickAddMember(1)">+</div>

                <div class="slot-1-input">
                    <div class="search-input-wrapper">
                        <span>
                            <input class="search-input" type="text" [formControl]="pokeName1" placeholder="Pikachu" (keyup.enter)="onSubmit(1, pokeName1)">
                        </span>
                
                        <span class="search-btn-div">
                            <button class="search-submit-btn" (click)="onSubmit(1, pokeName1)">
                                Add          
                            </button>
                        </span>
                        <div class="invalid-pokemon"></div>
                    </div>    
                </div>

                <div class="slot-1-info">

                    <div class="lg-flex-group">
                        <div id="poke-name" class="lg-header-cyan"></div>
                    </div>

                    <div class="teams-group">
                        <div id="slot-1-sprite">
                            <img id="sprite-default" src="">
                            <img id="sprite-shiny" src="">
                        </div>

                        <div class="teams-subgroup">
                            <div>
                                <div class="teams-type-wrapper width-100">
                                    <span id="poke-type">Type: </span>
                                    <span class="type-container" id="type1"></span>
                                    <span class="type-container" id="type2"></span>
                                </div>

                                <div class="shiny-checkbox-wrapper width-100">
                                    <div>Shiny?<input id="slot-1-shiny" type="checkbox" (change)="onChangeShinyToggle(1)"><label for="shiny"></label></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="dropdown-group">

                        <div id="poke-abilities">
                            <label class="dropdown-label">Ability:</label>
                            <div>
                                <select #slot_1_ability id="slot-1-abilities" class="md-dropdown" (change)="onChangeAbilities(1, slot_1_ability.value)"></select>
                                <div id="slot-1-ability-tooltip" class="teams-ability-tooltip">?
                                    <span class="ability-tooltip-text"></span>
                                </div>
                            </div>
                        </div>

                        <div id="poke-nature">
                            <label class="dropdown-label">Nature:</label>
                            <div>
                                <select #slot_1_nature id="slot-1-natures" class="md-dropdown" (change)="onChangeNature(1, slot_1_nature.value)"></select>
                                <div id="slot-1-nature-tooltip" class="teams-nature-tooltip">?
                                    <span class="nature-tooltip-text"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="poke-moves" class="width-100">

                        <div class="dropdown-group">
                            <div>
                                <label class="dropdown-label">Moves:</label>
                                <select #slot_1_move_1 id="slot-1-move-1" class="md-dropdown" (change)="onChangeMoves(1, 1, slot_1_move_1.value)"></select>
                                <div id="slot-1-move-1-tooltip" class="teams-move-tooltip">?
                                    <span class="move-1-tooltip-text"></span>
                                </div>
                            </div>

                            <div>
                                <select #slot_1_move_2 id="slot-1-move-2" class="md-dropdown" (change)="onChangeMoves(1, 2, slot_1_move_2.value)"></select>
                                <div id="slot-1-move-2-tooltip" class="teams-move-tooltip">?
                                    <span class="move-2-tooltip-text"></span>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown-group">
                            <div>
                                <select #slot_1_move_3 id="slot-1-move-3" class="md-dropdown" (change)="onChangeMoves(1, 3, slot_1_move_3.value)"></select>
                                <div id="slot-1-move-3-tooltip" class="teams-move-tooltip">?
                                    <span class="move-3-tooltip-text"></span>
                                </div>
                            </div>

                            <div>
                                <select #slot_1_move_4 id="slot-1-move-4" class="md-dropdown" (change)="onChangeMoves(1, 4, slot_1_move_4.value)"></select>
                                <div id="slot-1-move-4-tooltip" class="teams-move-tooltip">?
                                    <span class="move-4-tooltip-text"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                 
                    
                    <div id="slot-1-stats">
                        <div class="stat-hp">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-atk">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-def">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spatk">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spdef">
                            <span></span>
                            <div></div>
                        </div>
                        <div class="stat-spd">
                            <span></span>
                            <div></div>
                        </div>
                    </div>

                </div>
                <div id="slot-1-remove" class="remove-btn-wrapper"><button (click)="onClickRemoveMember(1)">Remove</button></div>
            </div>

            <div id="slot-2">
                <div class="slot-2-box" (click)="onClickAddMember(2)">+</div>
                <div class="slot-2-input">
                    <input type="text" [formControl]="pokeName2" (keyup.enter)="onSubmit(2, pokeName2)">
                </div>
                <div class="invalid-pokemon"></div>
                <div class="slot-2-info"></div>
            </div>

            <div id="slot-3">
                <div class="slot-3-box">+</div>
                <div class="slot-3-info"></div>
            </div>

            <div id="slot-4">
                <div class="slot-4-box">+</div>
                <div class="slot-4-info"></div>
            </div>

            <div id="slot-5">
                <div class="slot-5-box">+</div>
                <div class="slot-5-info"></div>
            </div>

            <div id="slot-6">
                <div class="slot-6-box">+</div>
                <div class="slot-6-info"></div>
            </div>

        </div>


    </div>

</div>
